body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: rgb(88, 46, 46);
    background-color: white;
  }
body h1 {
    margin:0px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid rgb(88, 46, 46);
}

.active-nav-link a {
  color: rgb(88, 46, 46) !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: 1s rgb(88, 46, 46);
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid rgb(88, 46, 46);
}

.nav-link-wrapper a:hover{
  color: rgb(88, 46, 46);
}

.brand h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height:2px;
  letter-spacing:5px;
}

.two-column-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.profile-image-wrapper{
  position: relative;
  border:0;
  margin-top:10%;
  margin-left:20%;
}

.profile-image-wrapper img{
  position: static !important;
  width: 350px;
  height:350px;
  border-radius: 20rem;
}

.profile-content-wrapper{
  display: block;
  justify-content: space-around;
  margin-right: 30px;
  border: 1px solid rgb(88, 46, 46);
}
 .profile-content{
   padding: 5%;
 }

.hello{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:none;
}

.intro-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.intro-button-wrapper{
  display: inline;
  justify-content: space-around;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.intro-button{
  width: 120px;
  height:120px;
  border-radius: 10rem;
  align-items: center;
  background-color: lightgrey;
  opacity: 0.8;
}

.intro-button-link{
  padding-top:40%;
  text-align: center;
}

.intro-button-link a{
  color:rgb(88, 46, 46);
  text-decoration: solid 1px transparent rgb(88, 46, 46);
  font-size: small;
  text-align: center;
}

.brief-intro{
  position: relative;
  justify-content: space-around;
  letter-spacing: 1px;
  font-size: small;
  text-align: justify;
}

.portfolio-container{
  background-color:white;
  color: rgb(88, 46, 46);
  padding-top: 50px;
}

.portfolio-intro{
  display: block;
  text-align: center;
  color:rgb(88, 46, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  background-color: grey;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent whitesmoke;
  white-space: pre-wrap;
  letter-spacing: 0.5rem;
  font-weight: 400px;
}

.image-blur {
  transition: 1s;
  opacity: 0.1;
}

.img-text-wrapper:hover .subtitle {
  color: rgb(88, 46, 46);
  font-weight: 400px;
  letter-spacing: 0.5rem;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.cv-container{
  display: block;
  background-color: white;
  text-align: center;
  padding:100px;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.download-btn{
  display: block;
}

.download-btn a{
  position: relative;
  color: rgb(88, 46, 46);
  cursor: pointer;
  font-size: 15px;
  outline:none;
}

.btn:hover {
  background-color: brown;
}

.question{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question h3{
  color: rgb(88, 46, 46);
  font-family: cursive;
  font-style: italic;
}

.contact-me{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 3%;
}

.follow #sm{
  letter-spacing: 5px; 
  font-size:large;
}

.email a{
  text-decoration: 1px solid transparent rgb(88, 46, 46);
  color: rgb(88, 46, 46);
}



